[2013-11-14 17:18] gocom opened #1 "Migrate to jPlayer/Video.js from Flowplayer"
- Gets rid of hard dependencies from the repository without having to compile the Flash.
- Both alternatives are more popular and widely used.

[2013-11-15 08:29] #1 closed, assigned to gocom

[2015-05-20 04:19] rwetzlmayr opened #2 "SCSS does not build on Windows"
```grunt compass:dev``` throws this error:

[code]

This is caused by an [open issue with Singularity 1.6.2](https://github.com/at-import/Singularity/issues/207).

[2015-05-20 04:19] rwetzlmayr commented on #2
Workaround: Use a shell with a UTF-8 code page. like so:

[code]

[2015-05-20 04:19] #2 closed

[2015-05-20 07:56] philwareham commented on #2
Thanks Robert, I'll keep an eye open for a new release of Singularity and update as soon as it's available.

[2017-02-12 00:59] bts368 opened #3 "HTTPS"
your HTTPS is broken.

An error occurred during a connection to textpattern.com. SSL received a record that exceeded the maximum permissible length. Error code: SSL_ERROR_RX_RECORD_TOO_LONG

https://stackoverflow.com/a/4762977

[2017-02-12 08:37] philwareham commented on #3
We don't use HTTPS on Textpattern.com at the moment.

[2017-02-20 12:42] philwareham commented on #3
FYI Will be moving to HTTPS when the new site launches later this year.

[2017-06-13 15:10] philwareham commented on #3
New site in staging is HTTPS, will be launched within the next month, so closing this issue.

[2017-06-13 15:10] #3 closed

[2017-08-30 08:21] philwareham opened #37 "Languages 'Become a translator' text TODO"
There is a placeholder in the languages page under the 'Become a translator' section. Need to fill this out with current translator process.

[2017-08-30 12:37] philwareham commented on #37
Done.

[2017-08-30 12:37] #37 closed

[2017-09-28 08:36] philwareham opened #48 "Add Referrer Policy when browser support is better"
We should add a [Referrer Policy](https://scotthelme.co.uk/a-new-security-header-referrer-policy/) to the `.htaccess` file. However, due to ad referral tracking this can only be done when the `<a>` attribute `referrerpolicy` gains better browser support, this we can exempt certain links from the global (header) rule.

In `.htaccess`:

[code]

An exempt link example:

[code]

Current browser suppor

[2017-09-28 08:49] philwareham opened #49 "Add Content Security Policy when AdSense becomes compatible"
Currently we can't add a [Content Security Policy](https://content-security-policy.com) header because there is no satisfactory way of whitelisting the Google AdSense network. Hopefully one day they will find a solution. Until then this issue tracks it.

[2017-10-31 09:34] philwareham opened #59 "Move to CSS-only mobile nav menu if possible"
Saves using JavaScript for this task.

Reference:

https://codepen.io/eduardoboucas/pen/BNyKwO

https://codepen.io/belipe/pen/vePpzv

[2017-11-03 10:29] philwareham opened #60 "Migrate from RequireJS to ES2015/Babel"
Long-term plan is to move from current workflow of Grunt (with RequireJS) to Webpack (with Babel to enforce ES6-ish code climate).

[2017-11-13 16:50] philwareham opened #64 "Remove Google Analytics from site"
See discussion: https://forum.textpattern.io/viewtopic.php?id=48166

[2017-11-14 10:47] #64 closed

[2018-01-12 10:23] philwareham commented on #49
Removing AdSense from the website soon, so this issue will be fixable.

[2018-01-21 14:56] petecooper opened #79 "Tweak to system requirements"
https://textpattern.com/about/119/system-requirements

`Zlib` should be `zlib`. Link is correct.

[2018-01-21 22:39] Bloke commented on #79
Done.

[2018-01-21 22:39] #79 closed

[2018-01-31 12:52] philwareham commented on #59
Leaving this here for future reference:

[code]

[2018-01-31 12:59] philwareham commented on #59
Minimal JS used for accessibility reasons (checkbox solution isn't accessible as it removes the clickable area from the DOM).

[2018-01-31 14:14] philwareham commented on #59
Done.

[2018-01-31 14:14] #59 closed

[2018-01-31 15:04] philwareham commented on #60
Since we aren't doing anything too complex, can probably stick with Grunt instead of Webpack here.

[2018-01-31 20:48] #60 closed

[2018-02-05 15:49] philwareham commented on #49
Done.

[2018-02-05 15:49] #49 closed

[2018-02-08 14:50] cara-tm opened #82 "AMP version into 'Related Article' links"
Phil.

I think you could add the AMP version of each related articles into the "Latest blog articles" links :

From your article_amp form: https://github.com/textpattern/textpattern-com-website/blob/master/src/templates/forms/article/amp.txp#L83

Change:

`<a href="<txp:permlink />"><txp:title /></a>`

To:

`<a href="<txp:permlink />"><txp:title /><txp:if_variable name="pat_amp" value="1">/amp</tx

[2018-02-08 15:42] philwareham commented on #82
Hi.

Do you mean?...

   <a href="<txp:permlink /><txp:if_variable name="pat_amp" value="1">/amp</txp:if_variable>"><txp:title /></a>

[2018-02-08 17:05] cara-tm commented on #82
May be :D

[2018-02-09 10:18] #82 closed

[2018-02-09 10:19] philwareham opened #83 "Move to Dart Sass when stable version released"
Swap out Node Sass for [Dart Sass](https://github.com/sass/dart-sass) when stable release v1.0 available.

[2018-05-01 15:24] petecooper opened #102 "`latest.zip` and `latest.tar.gz` download links are 404"
https://forum.textpattern.io/viewtopic.php?id=48670

https://textpattern.com/latest.zip
https://textpattern.com/latest.tar.gz

[2018-05-01 15:39] #102 closed, assigned to nobody

[2018-05-01 15:39] philwareham commented on #102
Thanks for the report - fixed now.

[2018-05-21 14:51] petecooper opened #107 "Please redirect an alias - macOS hidden files instructions"
Background: https://github.com/textpattern/textpattern.github.io/issues/97

Currently, we send readers to a third-party site for instructions on how to enable/disable viewing of hidden files on macOS via `https://textpattern.com/hidden-files-osx`.

I've written a basic how-to at https://github.com/textpattern/textpattern.github.io/blob/master/installation/view-hidden-files-on-macos.md and, subject

[2018-08-28 11:59] #107 closed

[2018-08-28 12:00] philwareham commented on #83
Dine already. Closing.

[2018-08-28 12:00] #83 closed

[2018-08-29 18:59] petecooper opened #143 "CORS on WOFF files"
Current website is throwing an error on remote (textpattern.io) WOFFs:

[code]

[code]

This might be restricted to Tor browser as I use that a cache-busting tool. New site build-in-progress has allowances for remote fonts (see https://github.com/textpattern/server-config/blob/master/tractor.textpattern.com/etc/nginx/sites-available/www-dev.textpattern.com.conf#L179 for current incarnation), and y

[2018-08-29 19:06] philwareham commented on #143
I think this is also related to the staging code looking for css/assets at the .com URL - should be ok when properly live.

[2018-08-29 19:06] #143 closed

[2018-08-31 08:46] philwareham opened #144 "Homepage animation - scaling issues on some browsers"
Reported by users:

___
Hello Phil,

tried textpattern.com with a new phone (Moto X4, 1920x1080, Android 8.0) and the background picture is not in the right size, means wider than the screen size. Tested it with
Chrome, Opera and Lightning.
If you need it, I can provide you with a screen shot.
___
While testing on my phone I saw that in Opera Mobile the waving sunflower graphic isn’t scaled down (

[2018-09-03 16:47] philwareham opened #146 "Ad slot on homepage"
Note to self - need to fix the second ad slot on the homepage.

[2018-09-03 16:53] philwareham opened #147 "Revert back to GitHub API via PHP Curl"
Now our new server is TLSv1.2+ compliant, we can Curl request the GitHub API in PHP again (as I used to do before GitHub shut off access lower than TLSv1.2).

[2018-09-03 17:32] petecooper commented on #144
https://caniuse.com/#feat=canvas

See note 2: `Opera Mini supports the canvas element, but is unable to play animations or run other more complex applications.`

[2018-09-04 08:00] philwareham commented on #147
Done. Closing.

[2018-09-04 08:00] #147 closed

[2018-09-04 08:02] philwareham commented on #147
@petecooper I *think* you can remove the GitHub API from CSP now as it's fetched by the server now, not by users.

[2018-09-04 08:04] petecooper commented on #147
OK, give me ten minutes and I'll make that change.

[2018-09-04 08:07] philwareham commented on #147
@petecooper Ta! Looks like something is up with caching at the moment - is this a known issue? See latest Pingdom Tools report (this seemed fine yesterday).

![grab](https://user-images.githubusercontent.com/413665/45018412-f4118b80-b021-11e8-8bc3-cd32e517cc4a.png)

[2018-09-04 08:08] petecooper commented on #147
Yes, caching isn’t working properly but I think I’ve fixed it - try again in 5 mins.

--
Pete Cooper
pete@pragmatika.net
https://pragmatika.net

[2018-09-04 08:09] petecooper commented on #147
OK, I've removed the GitHub API from CSP and re-enabled caching (though I'm not 100% sure it's working correctly).

[2018-09-04 08:16] philwareham commented on #147
Boom! Looking good, dude!...

Homepage report:

![grab](https://user-images.githubusercontent.com/413665/45019007-24a5f500-b023-11e8-9d17-2057527a6f35.png)

Blog landing page report:

![grab2](https://user-images.githubusercontent.com/413665/45019029-325b7a80-b023-11e8-855d-e571d2972906.png)

[2018-09-04 08:17] petecooper commented on #147
Can you sanity checking the expiry headers? I'm seeing a standard 1 month on everything here…which is wrong.

[2018-09-04 09:02] philwareham commented on #147
OK, leave the expiry header rules with me, I'll check them against what I had in Apache. I need to read up on the different syntax used for Nginx compared to Apache for these expire rules first.

[2018-09-04 09:08] petecooper commented on #147
The rules are set correctly, they're not being implemented properly - I have
https://github.com/textpattern/server-config/issues/9 as an issue that I can work around with a Plan B.

[2018-09-04 09:52] petecooper commented on #147
All fixed.

[2018-09-10 09:24] philwareham opened #153 "Plugin redux"
I'm fairly sure we can replicate functionality of the following plugins...

* rah_sitemap (used to generate sitemap.xml file)
* rah_external_output (used to serve the version.json file that declared current Textpattern releases and betas)

...via the core tags instead.

Reference to investigate:

Sitemap: https://forum.textpattern.io/viewtopic.php?pid=313909#p313909

External JSON: https://github.

[2018-09-10 13:56] philwareham commented on #153
@petecooper Hiya, I've uploaded new theme files to the Textpattern.com site, can you please fix permissions for those and then do the following Apache equivalent in your Nginx config?:

    RewriteRule ^sitemap.xml$  index.php?s=sitemap [L]

Let me know when that is done and I'll re-import the theme and we can remove the rah_sitemap plugin.

[2018-09-10 14:30] philwareham commented on #153
@petecooper I've also amended the code so that version.json is generated by core tags, So can you please also add this Apache equivalent in your Nginx config for this site too, as well as the above?:

    RewriteRule ^version.json$  index.php?s=version [L]

That means we can also remove rah_external_output form our plugins! Thanks again.

[2018-09-10 14:59] petecooper commented on #153
@philwareham - this is pretty much ready to go, awaiting `index.php?s=sitemap` to go live (currently 404) and I'll test it, then deploy when ready.

[2018-09-10 15:01] petecooper commented on #153
Permissions reset, btw.

[2018-09-10 15:11] philwareham commented on #153
Great, ta! I've just imported the latest theme and set up the required sections (sitemap and version). So they are all ready from my side.

[2018-09-10 15:23] philwareham commented on #153
Sure, tonight is totally fine. Cheers!

[2018-09-12 11:42] #146 closed

[2018-09-15 19:18] petecooper opened #157 "Replace contact form with a plain email address"
As discussed.

[2018-09-24 08:39] philwareham commented on #153
Hi Pete, just wondering if you had any luck with these redirects as yet? Cheers!

[2018-09-24 09:31] petecooper commented on #153
Morning @philwareham - one thing left to resolve. Full work week this week so will likely be an evening job, but will get done.

[2018-09-24 09:35] philwareham commented on #153
Great - OK thanks for the update. PS. I didn't have time to send those mugs beige holiday, sorry. They are here on my desk packed up ready so I'll drop them at post office tomorrow.

[2018-09-24 12:06] #157 closed

[2018-09-24 12:08] philwareham opened #160 "Remove web host affiliates page"
The recommended web hosts/affiliates page is out of date and of questionable worth. We should remove it from the site now.

[2018-09-24 12:10] philwareham commented on #160
Done.

[2018-09-24 12:10] #160 closed

[2018-10-16 08:08] philwareham opened #170 "Use CSS Grid instead of CSS Flexbox for layout"
I think we can safely move to CSS Grid now, we polyfill the older syntax to IE11 in our build script anyway (and IE11 usage is fairly low now).

[2018-10-16 08:34] #170 closed

[2018-10-23 15:48] vladas-palubinskas opened #178 "System requirements"
Many thanks for expanding [the scope](//docs.textpattern.com/installation/configuring-a-web-server-for-textpattern) of HTTP and SQL servers for Textpattern. Could we take away also the disgraceful dependence from Apache and other proprietary directives from our System [requirements](//textpattern.com/about/119/system-requirements) — the main webpage for new visitors to Textpattern.com?

Textpatter

[2018-10-23 17:09] philwareham commented on #178
@petecooper any thoughts on this? I’m no server expert. I do wonder if the system requirements should be in the docs site for a start?

[2018-10-23 17:54] petecooper commented on #178
+1 for the system requirements in a doc, I've mentioned this before and it would make updates much more easy to track (with appropriate change control).

I am -1 for expanding official *support* to other web servers and databases. This sets expectations that if someone has a problem with [insert name] web server and [insert name] flavour of MySQL derivative then they can get a solution. There are

[2018-10-23 21:52] vladas-palubinskas commented on #178
No, I never meant support, simply because we can not — being the community, not incorporated. I had in mind Textpattern should be developed (and documented) in open standards mode, with no dependency to proprietary software:

MariaDB is the same MySQL, and forked purely to remain free and open source software (FLOSS), due to license issue of MySQL. That is because we should just prefer MariaDB ove

[2018-10-24 08:37] petecooper commented on #178
@vladas-palubinskas - I mostly agree with you, and I think we are both thinking similar things.

I made some small changes to the installation document yesterday just before your reply above, so the document now has less focus on Apache. You can see the individual changes [here](
https://github.com/textpattern/textpattern.github.io/commit/d7aaf345a88d1f53a8b7e42b52596f782dd3dc5a) and [here](
https

[2018-11-01 09:49] philwareham commented on #153
Hi Pete, I know you are busy, but any news on this?

We currently have a broken sitemap and version.json file on the live site without those two redirects.

[2018-11-01 10:00] petecooper commented on #153
Crap, I thought I'd fixed this weeks ago. Will look this morning!

[2018-11-05 13:50] petecooper commented on #153
Both done, please test (works fine here).
https://textpattern.com/version.json should 301 redirect to https://textpattern.com/index.php?s=version
https://textpattern.com/sitemap.xml should 301 redirect to https://textpattern.com/index.php?s=sitemap

[2018-11-05 13:50] petecooper commented on #153
PS: sorry for the delay in getting this done!

[2018-11-05 14:04] philwareham commented on #153
Thanks Pete, but is there any way of doing it so it doesn't actually change the URL (not sure what the technical name for that is).

If not, then not a big problem I guess.

[2018-11-05 14:06] petecooper commented on #153
I'm looking into that at the moment - I'm sure there is. Leave this open for now, to be continued.

[2018-11-06 00:19] petecooper commented on #153
Done and done.

![screen shot 2018-11-06 at 00 17 53](https://user-images.githubusercontent.com/226578/48034983-87b62400-e159-11e8-843d-dc0eee8d346c.png)
![screen shot 2018-11-06 at 00 18 07](https://user-images.githubusercontent.com/226578/48034984-87b62400-e159-11e8-8a0a-d66723d4d61f.png)

[2018-11-06 00:22] #153 closed, assigned to petecooper, philwareham

[2018-11-06 06:46] philwareham commented on #153
Great stuff! Thank you Pete.

[2018-11-26 11:51] philwareham opened #185 "Fix structured data validation errors"
Test and fix issues reported by Google's Structured Data Testing Tool

- [x] `BreadcrumbList` endpoint `@id` entity
- [ ] `blogPost` expected attributes missing
- [x] Image `width`/`height` attributes error

[2019-03-11 08:40] #144 closed

[2019-04-01 16:53] philwareham opened #215 "Consider dropping AMP"
AMP is a Google proprietary technology that is generally accepted as bad for the future health of the web and publishers. We should consider removing it from our blog posts, even if it causes a drop in search traffic (debatable).

Please list any objections or agreement. If I don't hear anything that sways me in the next 2 weeks I will remove the code.

[2019-04-04 11:43] philwareham opened #217 "Optimise error image"
Note to self: remake the error.png image so we don't need to supply an alternative version to dark mode users.

[2019-04-10 13:09] #217 closed

[2019-04-24 11:23] philwareham opened #221 "Get GitHub star count using API v4 instead of v3"
The GitHub API v4 (GraphQL) is much more efficient than the API v3 (RESTful), as it just returns the specific data rather than a large file with all repo data.

Moving to that would require (safe) storage of the OAuth authentication key as you cannot do anonymous calls to API v4 (unlike v3).

[2019-04-25 13:30] philwareham opened #222 "Create a 'card' component for use on plugins and themes sites"
Similar to here: https://getbootstrap.com/docs/4.3/components/card/

[2019-04-26 10:05] #222 closed

[2019-04-30 12:32] #185 closed

[2019-05-02 10:35] #221 closed

[2019-05-02 10:41] philwareham opened #227 "Native lazy load images"
Potentially Chrome 75 will provide native lazy loading of images, using the flowing syntax:

    <img src="example.jpg" loading="lazy">

This could be used on the Textpattern homepage device screens image and blog teaser header image. Need to investigate further if/when this feature rolls out.

https://addyosmani.com/blog/lazy-loading/

[2019-05-24 11:30] #227 closed

[2019-10-22 11:07] philwareham opened #253 "GitHub stars count not working on homepage"
Investigate any recent changes to GitHub API that might have broken this.

[2019-10-28 19:32] petecooper commented on #178
We can close this, I think. The text outlined in @vladas-palubinskas's opening post has been changed to cover a broader range of servers.

[2019-10-28 19:32] #178 closed

[2019-10-29 11:39] #48 closed

[2019-11-14 18:27] wion opened #260 "User docs styles request"
I have no assigning rights in this repo, but this is directed @philwareham.

I'm requesting a few, relatively simple, styles additions to the brand's CSS for use in user docs (and wherever other platform might find useful). I recommend you have a look at the associated sections in the new user docs guidelines, beginning at [Markup and styling](https://docs.textpattern.com/brand/user-docs-guide#mar

[2019-11-14 18:46] wion commented on #215
Pull the AMP's plug!

[2019-11-14 23:05] wion commented on #260
Also, @philwareham, with regard to our discussion on editorial style and quotation marks, can we change the the double marks added to `q` elements to single marks?

An example of use in docs is [here](https://docs.textpattern.com/brand/user-docs-guide#block-quotes), second paragraph. Because I'm expecting single-mark convention, the ending mark is put inside the terminal punctuation (because it wa

[2019-11-21 16:01] philwareham commented on #260
@wion for any lists where you don't want bullet/numerical semantics - you can use the existing CSS class `.list--no-bullets` on the `ul` or `ol` tag. For the margin/padding issue I have just added the following rules to the stylesheet to help in a more global manner:

[code]

I'll look at your other requests as I get some spare moments.

[2019-11-21 16:41] philwareham commented on #260
I'm not really keen on using the CSS `content:` property to inject text/faux markup into the page. My preference is that content is always part of the DOM. Can we think about an alternative solution to those requests please?

[2019-11-21 16:50] wion commented on #260
They're just glyphs, representing list item style types. I would think they're no more illegal than bullets or squares, which are currently used for list items (ToCs, for example). We could try and use them in entity notation, if that's the concern. Ultimately I don't really care how the effect is pulled of. I was just thinking it would be intuitive to dress those lists up a sense of actual folder

[2019-11-21 16:54] wion commented on #260
Or, come think of it, maybe turn them into image icons and add the list types as images?

[2019-11-21 17:08] wion commented on #260
Here's another approach...
https://www.thecssninja.com/css/css-tree-menu

And the demo...
https://www.thecssninja.com/demo/css_tree/

It's a little graphic-y with those types of icons, but...

I was going for something a bit more retro/oldskool/txt looking. My css for it is running on my own local site as test. The folder tree impression is there, even if rudimentary. I'm sure you could fix it up.

[2019-11-21 17:25] philwareham commented on #260
I can't get `list-style-type: '☐ ';` to work in my local (Safari) setup anyway. `list-style-image` would be the preferred route I think.

[2019-11-21 17:28] philwareham commented on #260
You can choose from any of the icons we already have in the framework (which includes file/folder icons) https://hive-framework.philwareham.co.uk/#ui-doc-jquery-ui--icons

Leave it with me and I'll see how it looks.

[2019-11-22 09:08] philwareham commented on #260
Regarding the refmarks request, I think the preferred route would be for authors to add the symbols into their footnote texts, rather than auto generating through the presentation layer.

I assume they are going to have to insert the symbol in their main text anyway, so by also doing the same within the footnote they are creating a clear association between the text and it's definition/explanation

[2019-11-22 12:23] wion commented on #260
By making it automatic in the list, there's no confusion to an author about what mark is needed and in what order, even if they forget (which they probably will).

They can use any text they want in the table, then when writing the notes, the list will show exactly which mark their supposed to use and in which order. They can then easily change the marks in the table without having to refer to the

[2019-11-22 12:56] wion commented on #260
I'm not trying to bust your nads, my friend, but, come to think of it, what you're saying...

Is somewhat opposite of what you said before...

But in this case you want the glyphs added as list item content? I'm confused.

Here, as with the other example (which you handled nicely, btw), it's not content. It's list item types. Bullets, if you will. It seems totally appropriate for presentation laye

[2019-11-22 13:03] philwareham commented on #260
It's not opposite at all, unless I'm understanding wrong: you have some indicators amongst the table cells (for example `*`) which you've manually added to the text as part of the writing. The footnotes of that table you want to auto generate the `*` again as the reference point? is that correct?

In that case I don't see why you can't simply manually add the indicator in the footnote. It's then p

[2019-11-22 13:10] philwareham commented on #260
@wion can you let me know how you want the 'single directory contents scope' to display? Kind of like the file tree but just with icons, yes (i.e. no key lines)?

[2019-11-22 15:37] philwareham commented on #260
@wion OK I've done the refmarks list and endnotes heading now - again you might need to refresh cache to see them in action.

[2019-11-22 16:12] wion commented on #260
That is true. I was entirely focused on the bullets. So it's a compromise either way. But at least we can conquer the lists and be half-way for the better on the side of usability.

And it looks good. Thank you.

The marks are a little small on the list items, though. Is that just the default behavior or did you reduce them down? They start losing distinction when so small like that, but if it's d

[2019-11-22 16:15] philwareham commented on #260
@wion flat file directory option is done now - I've amended the syntax so it reuses existing tree code (just means adding an additional `.flat` class to the `.list--tree` list.

So I think that just leaves the `.example-text` and `.example-list` requests still to do.

[2019-11-22 16:19] wion commented on #260
Yeah, I was just writing to say... Now that I see how you've done it for the tree, I think we could just use what you have, right? Like this...

[code]

But... I'm not crazy about that grey box around the block. That was one thing I was specifically trying to avoid with these new selectors. I think documentation starts looking overly busy with too many boxes and lines everywhere. In my opinion the

[2019-11-22 16:25] wion commented on #260
So please don't put boxes and background colors on these special types of content, including the next 'example' elements. I had suggested one left border, perhaps of a grey-blue color to somewhat suggest 'informative example', and to offset them without having to use much else.

Again, just enough distinction to stand them apart from regular text, but not hit it with a boxhammer. ;)

[2019-11-22 16:32] wion commented on #260
Like with the tree/directory rules, you might even only need one selector for both example types. I leave it to you.

It's too bad we have to make an author put all those extra Kramdown IAL's on tree list items. Simplifying the markup effort is also part of the objective. But I appreciate you bearing with me this far, and I'll take it. The tree design is nice. Good job.

[2019-11-22 16:44] philwareham commented on #260
Oh, the `.flat` isn't needed :) OK I have amended that now. I've also re moved the boxes around file trees as suggested.

Yeah - I *may* be able to remove that need with some clever JavaScript instead - I'm just too tired on a Friday to think too hard about it :). I'll sleep on it for a couple of days and revisit. i.e. the CSS is fine, maybe I can inject the classnames via JavaScript depending on

[2019-11-22 16:46] wion commented on #260
Just looking at updates... The tree lists are beautiful. Perfect. Really sweet. And I'm happy with table notes. Just what I ordered.

I look forward to your example styles.

And if we can remove the top (or was it bottom?) border on definition lists, then I think we've made presentation allowance for adding bottom borders on `h2`. :)

Go have 2 gins!

[2019-11-22 16:51] philwareham commented on #260
Just while I think of it - it might be worth renaming `.list--tree` to `.list--files` or something along those lines, since the class can be used for tree lists of files and non-tree lists?

[2019-11-22 16:54] wion commented on #260
Yep. Makes sense.

[2019-11-25 11:23] philwareham commented on #260
@wion OK, I've done all this and updated the user docs text where appropriate. Please feel free to close this issue if all is acceptable.

[2019-11-25 12:44] wion commented on #260
Looks great, @philwareham. Thank you very much.

[2019-11-25 12:44] #260 closed

[2019-11-25 14:57] wion commented on #260
I think you had done this, but it seems to have reverted back to double marks for some reason.

See the two examples in the example text here...
https://docs.textpattern.com/brand/user-docs-guide#embedded-quotations

[2019-11-25 16:12] philwareham commented on #260
@wion sorry, missed that, done via https://github.com/textpattern/textpattern-com-website/commit/475780974a58967e2e7da371b534b5ff4c9410cb

[2020-01-23 09:28] philwareham commented on #253
Seems to be happening again, will investigate,.

[2020-01-25 09:27] philwareham commented on #253
Fixed by @petecooper

[2020-01-25 09:27] #253 closed

[2020-01-28 16:57] petecooper commented on #215
Note: if this does get zapped, we can remove `pat_if_amp` from the plugins list.

[2020-01-28 18:27] petecooper opened #275 "Remove `etc_cache`"
No longer needed, given new server and appropriate performance / headroom.

[2020-01-31 14:27] #275 closed

[2020-02-12 10:35] philwareham opened #278 "Use Textpattern 4.8 core tags/attributes to remove etc_pagination plugin"
Changes in Textpattern 4.8 allow us to achieve complex pagination patterns without the need for a dedicated plugin. When Textpattern 4.8 releases, and we update the version running Textpattern.com, we can do this.

CC @bloatware who I may need some help from, in achieving this. Example current code, using plugin:

[code]

[2020-02-13 13:37] philwareham opened #279 "Focus colour of primary buttons in dark mode"
Needs to be a contrasting colour - currently yellow focus ring on yellow button.

[2020-02-14 16:15] Bloke opened #281 "Use file description to house checksum"
Could we store the checksum in the File Description field and then pull that out automatically when building the links to the downloads on the release blog posts and _get started_ pages? Seems like that would avoid some unnecessary steps during the release process and means we don't have to manually keep everything in sync on the site.

Any downsides?

[2020-02-14 16:16] philwareham commented on #281
Sure. I'll do that when I get some spare time.

[2020-05-26 11:59] philwareham commented on #278
@bloatware just wondering whether you could help me with a core code example for the above, when you get a spare few minutes? Cheers!

[2020-05-26 12:39] bloatware commented on #278
Hi @philwareham, will try!

[2020-05-26 14:43] bloatware commented on #278
Something like this?
[code]

[2020-05-26 16:22] philwareham commented on #278
Thanks. Some of the above didn't work as expected so between that and Michael Pate's forum thread I have this now which seems to work. But please let me know if anything can be improved?...

[code]

[2020-05-26 16:54] bloatware commented on #278
@philwareham can you tell me what does not work? Save for the current page I see no important difference in the output.

[2020-05-26 17:40] philwareham commented on #278
Seems to be something around the ‘more pages’ code and the current page code. Slightly changing it as per Michaels examples did work.

[2020-05-27 08:56] philwareham commented on #278
@bloatware one issue I'm still having with the code I posted above is that it shows the pagination even when there is a single page of results (just shows Pages: 1). Can you suggest a way to simply not have pagination when there is just a single list page?

[2020-05-27 09:21] bloatware commented on #278
IIRC you can get the number of pages with `<txp:pages total />`, so wrapping the whole pagination block inside
[code]
should do.

[2020-05-27 09:52] philwareham commented on #278
Thanks, but sorry that seems to put a `1'>` in the visible page markup though. Tried it with double quotes too.

[2020-05-27 10:02] bloatware commented on #278
updated

[2020-05-27 12:16] #278 closed

[2020-05-27 12:39] #281 closed

[2020-05-27 12:56] Bloke commented on #281
Nice one, Phil, thanks. What are we doing about previous downloads? The descriptions currently house things like 'Zip format.' Are we going to leave those, or back-fill them? If so, I can go through and do that if you like sometime.

[2020-05-27 12:57] philwareham commented on #281
I'm just backfilling them now. Although I have a conference call in 15 mins so I'll finish after that.

[2020-05-27 12:58] Bloke commented on #281
Ah, I just spotted you doing that and came to apologise for jumping the gun. Thanks again!

[2020-06-19 09:55] philwareham opened #292 "Remove 'download' button from sidebar when on Getting Started page"
Sitewide, when you click the 'download' button in the sidebar (or the button on homepage), not takes you to the Getting Started page where you can select the download you want. This is fine.

However, the 'download' button from sidebar still appears on this page, which can cause confusion (click it again just takes you to this page once more) and maybe people think the download is broken.

Solutio

[2020-06-19 09:58] #279 closed

[2020-06-19 10:36] #292 closed

[2020-06-19 14:50] petecooper commented on #215
Bump.

[2020-07-30 14:54] philwareham commented on #215
OK, leave it with me! :)

[2020-07-30 15:11] #215 closed

[2020-07-30 15:17] philwareham commented on #215
It's gone. Don't be evil, Google.

[2020-08-09 07:18] proyb6 opened #303 "Pointed wrong url link to theme page"
From:
https://plugins.textpattern.com

Click *Themes* in the navigation menu appear to load wrong url link:
https://themes.textpattern.com

[2020-08-10 08:37] philwareham commented on #303
This is fixed now - thanks for the report.

[2020-08-10 08:37] #303 closed

[2020-08-19 13:56] philwareham opened #305 "Showcase sites update"
NTS: Refresh the showcases section and add new/update existing/remove obsolete sites.

[2020-12-02 16:39] petecooper opened #321 "Different shades of grey in dark mode, front page, site showcase"
**Describe the bug**
Some janky corners on the three-up site showcase in dark mode.

**To reproduce**
Steps to reproduce the behaviour:
1. Go to https://textpattern.com/ in dark mode
2. Scroll down to 'Site Showcase'
4. Note some of the 'browser' corners have a different shade of background grey to the parent div.

**Expected behaviour**
One shade of grey.

**Screenshots**
If applicable, add scree

[2020-12-07 09:45] wion opened #324 "docs: custom numbered headings synced with contents lists"
### What

A proposal for custom numbered headings in docs that reflect in contents lists at tops of doc pages.

This info design strategy is used a lot in lengthier technical documentation (and grey literature, etc), which is what Txp docs are somewhat heading toward with their new holistic goal-oriented development (e.g. the themes doc).

Such numbering on headings, synced with contents lists, pr

[2020-12-08 08:45] philwareham opened #325 "Utilise `prefers-reduced-data` media query"
Implement in CSS and JavaScript where appropriate when production browser support available: https://polypane.app/blog/creating-websites-with-prefers-reduced-data/

Off the top of my head, some use cases

1. Remove canvas element on homepage.
2. Non-essential images.

[2020-12-09 16:22] philwareham commented on #324
Will investigate. Stay tuned.

[2020-12-09 17:52] philwareham commented on #324
@wion I have coded headings `h2` through to `h4`. Please refresh a docs page such as https://docs.textpattern.com/tags/article and you should see it in situ.

If you are happy this works as intended, I will bullet-proof it by then adding `h5` and `h6` as requested.

[2020-12-09 18:04] wion commented on #324
I personally like having the numbers.

After looking at it in context. Maybe the leading zero is not necessary (a little too busy?). I'd be happy to relent there according to popular opinion.

Also wondering if it's worth toning down the number colour so it doesn't stand out quite as much as the heading text itself. Or is that even possible? Not a big deal, though.

[2020-12-09 18:07] philwareham commented on #324
Sure, the leading zero is easy to remove. Styling of the counters is not a problem either, it's just a couple of lines of CSS.

Maybe live with it a day and come back to me with all/any changes you think it needs?

[2020-12-09 18:10] wion commented on #324
Will do.

[2020-12-10 09:07] wion commented on #324
Your latest tweaks look good. Only one thing more needed, I think...

On the first level items. Instead of 1, 2, 3, etc, have 1.0, 2.0, 3.0, etc.

Don't know if that's possible, though.

[2020-12-10 09:10] philwareham commented on #324
I'm not overly keen on that, it's inconsistent with the subsections (i.e., wouldn't subsection 1 need to be `1.1.0` in that case?).

[2020-12-10 09:12] wion commented on #324
Yeah, I was just realizing that. Call it good as is!

[2020-12-10 09:13] wion commented on #324
You may close this if you desire. I'm happy.

[2020-12-10 09:13] philwareham commented on #324
Cool. Closing now.

[2020-12-10 09:13] #324 closed

[2020-12-10 09:14] wion commented on #324
Oh, there is the deeper levels, though. But I presume you'll get to that. See bullets on some pages mixed with numbers.

[2020-12-10 09:16] philwareham commented on #324
I broke the 2nd subsection - should be fixed if you refresh browser. Will do `h5` and `h6` levels in due course.

[2020-12-10 09:17] wion commented on #324
I refreshed but see third-level bullets, eg: https://docs.textpattern.com/brand/user-docs-collaboration

[2020-12-10 09:18] wion commented on #324
Maybe it's my cache.

[2020-12-10 09:19] philwareham commented on #324
Probably - looks fine to me. Use option + command + r on macOS to force cache refresh.

[2020-12-10 09:20] wion commented on #324
Good. See it now.

[2020-12-10 09:25] wion commented on #324
Well, I see it in Safari, but not FF.  Do you mean Alt+Command+r? That just changes my screen to reader view (which I didn't know, and is nice).

But if you did browser testing, I'm happy to take your word for it. FF will probably shape up for me eventually.

[2020-12-10 09:33] philwareham commented on #324
Annoying it is `command` + `shift` +  r` to force refresh in Firefox on macOS. I accidentally invoke the reader view there all the time (as I primarily develop using Safari's dev tools).

[2020-12-10 09:34] philwareham commented on #324
FYI I've also done the `h5` and `h6` levels now. So hopefully it should be fairly bullet-proof.

[2020-12-10 09:35] wion commented on #324
Bingo. Thanks, Phil!

[2020-12-12 10:12] philwareham opened #326 "Sticky header on mobile?"
Since our header takes up very little room on (portrait) mobile - there’s probably a good argument to make it fixed in place on this view.

[2020-12-13 01:51] wion opened #327 "user docs: prefers-color-scheme rules?"
phi13 introduced me to this Firefox extension, [dark mode switcher](https://github.com/rugk/website-dark-mode-switcher/), to help me test my `prefers-color-scheme` rules in local dev, because it's the only way I could see the changes with my late 2011 mbp that can't run more than Sierra.

Anyway, when I added the extension, I could then see what the Forum looked like in dark mode on my laptop for

[2020-12-13 09:00] philwareham commented on #327
I'm not sure what you mean. The whole Textpattern family of sites respect dark mode.

[2020-12-13 09:15] wion commented on #327
Hmm. Yes, it works for me on mobile too. I should have confirmed that (or looked at the styles, doh). Which means you are using the rules.

But on my old laptop, I get dark mode for the forum, using the aforementioned plugin, but not for docs. If the style rules are there, it should work for both.

I’m actually out on an errand. I will double check on my laptop when I get back and report.

[2020-12-13 09:18] wion commented on #327
In any case this is a moot issue since the rules work for mobile as intended. Closing.

[2020-12-13 09:18] #327 closed

[2020-12-13 09:45] wion commented on #327
https://forum.textpattern.com/viewtopic.php?pid=327456#p327456

[2020-12-31 11:39] eliph opened #329 ""Featured at" links are useless"
**Describe the bug**
The sections "Get started", "Blog" and "About" have some links under the header "Featured at". If you follow these links, you will find that none of them contain any useful information about Textpattern, and some links are dead.

**To reproduce**
Steps to reproduce the behaviour:
1. Go to https://textpattern.com/start/
2. Follow the links listed under "Featured at"
3. Any info

[2020-12-31 11:57] philwareham commented on #329
It's a paid-for advert, basically. Not my preference, but it provides a small amount of revenue to keep the lights on.

[2020-12-31 11:57] #329 closed

[2021-01-08 03:10] eliph commented on #329
Then it is a "Sponsored Link" and should be labelled as such, and not labelled as "Powered by". It links to mysterious and potentially dangerous websites and discredits the Textpattern project.

[2021-01-08 10:09] philwareham commented on #329
Agreed. I have amended this item now, for more transparency, as suggested.

[2021-01-20 14:18] philwareham opened #335 "Performance: responsive background images via `image-set`"
Investigate where we can use the new `image-set` CSS feature to provide more optimised background images. Example:

[code]

Supported browsers: [Caniuse](https://caniuse.com/css-image-set)

Note, we already do this using media queries, but the above method is more succinct.

[2021-01-20 17:19] #321 closed

[2021-01-20 17:27] philwareham opened #336 "Drop IE11 support - timeframe"
The Textpattern official website(s) still support IE11, however some good performance gains and easier future dev can be made by removing support, i.e.:

* CSS custom properties
* ES2015+
* Remove Flexbox fallbacks for our CSS Grid layout
* `<picture>` tag to serve modern image formats such as WebP, AVIF, and eventually JPEG XL.

Suggesting we remove support around Spring 2021 (April-May). Please

[2021-01-21 16:41] #326 closed

[2021-01-25 11:10] philwareham commented on #336
I did this earlier than planned. Closing.

[2021-01-25 11:10] #336 closed

[2021-01-25 17:38] philwareham opened #337 "Update Web Informer widget"
New code has been created for this widget, which means we don't need to filter/parser the original HTML for our required structure. New link is:

https://website.informer.com/widget/textpattern.com-2

NTS: I need to strip out old widget and remove the need for `htmlpurifier`.

[2021-02-01 13:08] philwareham commented on #337
Done.

[2021-02-01 13:08] #337 closed

[2021-02-01 13:09] philwareham opened #338 "CLS: ensure mobile menu is hidden at pages load"
Currently there is content layout shift at page load on mobile, where the nav menu is visibly open until JS has fired. Prevent this.

[2021-02-02 14:31] philwareham commented on #338
It is.

[2021-02-02 14:31] #338 closed

[2021-02-09 15:38] philwareham opened #341 "Turn off and remove comments on .com site"
IMO we should turn off the commenting features and remove the comment templates and specific CSS from our theme (leaving the old comments in the backend but remove the code from templates that actually displays them on live site).

Many existing comments are obsolete, link to dead URLs, or have little value in a modern website. Better that we encourage discussions on the forum or social media wher

[2021-02-09 19:19] petecooper commented on #341
+1.

Nothing sadder than an article with zero comments, too.

[2021-02-11 15:51] philwareham opened #343 "Web Informer widget causing delay in initial server response"
We've ascertained that fetching the HTML for the web informer widget causes around 300ms of lag on the initial server response - pushing us into a non-pass on Core Web Vitals. I'd like to reduce that lag if possible but we can't cache the HTML, for reasons.

Currently the code to fetch this HTML is:

[code]

I'm wondering if there is any performance gain from using `stream_copy_to_stream` instead

[2021-02-11 17:38] Bloke commented on #343
`stream_copy_to_stream()` or, failing that, a homegrown `fgets()` (or equivalent with a streaming context) might well be faster. Usually these things are only of benefit for large files, and this content is nowhere near what anyone would call 'large'. The delay may well be attributable to the round-trip connection rather than streaming, but it's gotta be worth a shot. I'll try a few tests locally

[2021-02-11 17:56] philwareham commented on #343
@rwetzlmayr hi Robert, do you know how the above is measured by customer? i.e. Is it based on hits to the endpoint HTML?

I'd like to cache the HTML for a period of time if I can, but not if it is based on direct hits.

[2021-02-12 04:35] rwetzlmayr commented on #343
@philwareham I do not know whether this is measured by the customer but I don't think so...

[2021-02-12 07:00] philwareham commented on #343
Thanks Robert, I will test some short caching of the HTML (say, 10 minutes) and see if it improves matters.

[2021-02-12 09:57] philwareham commented on #343
OK, caching that item speeds the page up massively; was ~560ms, now ~110ms. Happy with that. If we can any kickback from customer I can revisit (but should hopefully be fine).

<img width="801" alt="Screenshot 2021-02-12 at 09 53 53" src="https://user-images.githubusercontent.com/413665/107753975-bc41be80-6d18-11eb-9652-a1a8f46e4c5d.png">

[2021-02-12 09:57] #343 closed

[2021-02-12 13:41] #341 closed

[2021-02-13 17:49] petecooper opened #345 "Missing file used in `README.md`: `/assets/img/branding/carver/carver-64px.svg`"
https://textpattern.com/assets/img/branding/carver/carver-64px.svg

We use the above in https://github.com/textpattern/textpattern/blob/dev/README.md and possibly more, but it's 404-ing at the current time. I've found a copy in a backup, and I've attached a .zip with the entire `carver` directory as-was.

I'm presuming this is part of a recent-ish branding tidy up, so we need to either bake a 64px

[2021-02-15 11:33] #345 closed

[2021-02-15 11:33] philwareham commented on #345
Fixed, thanks.

[2021-03-21 16:20] petecooper opened #353 "Add a `security.txt`"
https://securitytxt.org

We have no mention of our security policy on the front page, and we're getting more interest in that side of things.

We should consider making and maintaining a sensible security.txt for researchers, and avoid disclosure via a public issue.

[2021-03-22 08:49] philwareham commented on #353
OK, not sure what to fill in at that URL so if someone wants to generate the txt file I will link it in the footer of the website(s) - if that's what you want.

[2021-03-22 09:04] petecooper commented on #353
Let's start with this:

[code]

If you can get the file itself tracked in this repo, I'll make sure we have a copy in `.well-known` and I can tweak it (like adding in .com landing page for security stuff if/when we have one.

[2021-03-22 09:13] petecooper commented on #353
We could also handle this as an article on .com, to be fair…leave this with me and I'll tinker later this week.

[2021-03-22 09:17] philwareham commented on #353
I've just added the file to the repo (but not uploaded to server) - please use as you see fit and let me know if I need to add links anywhere.

[2021-03-22 10:14] petecooper commented on #353
OK, I think I've managed this in an article, so we can zap the security.txt file from here actually. I'll do that now.

https://textpattern.com/security.txt

See article 439 for details. I'll leave this open as a reminder to set up a `.well-known` alias and then close it.

[2021-04-20 14:53] philwareham opened #364 "Use `prefers-colour-scheme` within SVGs when Safari finally supports it"
We can reduce the size of our CSS file by using `prefers-colour-scheme` within a single SVG file to provide dark mode support - instead of the two separate files we currently use. This will reduce the CSS file size by ~12kb.

I have now amended the SVG files in our branding repo to support this approach.

Unfortunately, can't put it into production yet as Safari doesn't support `prefers-colour-sch

[2021-04-22 07:52] philwareham commented on #335
[Now supported in Firefox](https://hacks.mozilla.org/2021/04/never-too-late-for-firefox-88/) - can investigate usage soon.

[2021-05-10 13:58] philwareham commented on #335
Can use in production after 2021-10-19, when Firefox ESR adopts the v91 codebase (currently ESR is on the v78 lifecycle). All other mainstream browsers (that we support) have support for this feature.

[2021-05-12 08:20] philwareham commented on #335
Done. Closing.

[2021-05-12 08:20] #335 closed

[2021-05-13 12:34] philwareham opened #376 "Reduce unused JavaScript within create.js file"
Currently, the create.js library  is used for the animation on the front page. However, as a fair amount of this JavaScript is unused directly, it causes a small pagespeed penalty which stops us achieving a 100 score in Lighthouse (for mobile). All other pages get 100.

So I will need to customise the above library, safely removing functions/code we simply don't utilise. This will reduce the file

[2021-07-22 08:18] philwareham commented on #376
Done a while back. Closing.

[2021-07-22 08:18] #376 closed

[2021-07-22 08:27] philwareham opened #401 "Investigate whether a separate homepage.css would be optimal"
At the moment we have a single CSS file that is used across the .com site, docs site, themes site and plugins site. While this is good for caching there may be a valid case for having a separate CSS file that is used on homepages only.

This would allow us to target elements that only appear on the homepage(s) and remove all other non-essential selectors from that file. Vice-versa, the homepage-on

[2021-10-27 14:25] petecooper opened #438 "Alignment / sizing issue with breadcrumbs bar"
**Describe the bug**
Alignment / sizing issue with breadcrumbs bar.

**To reproduce**
Steps to reproduce the behaviour:
1. Go to https://textpattern.com/weblog/ or any page with breadcrumbs using a desktop browser.
2. Note the breadcrumbs bar has a notch on the right side.

**Expected behaviour**
No notch.

**Screenshots**

![re](https://user-images.githubusercontent.com/226578/139085266-fd57c83e-

[2021-10-27 14:52] #438 closed, assigned to philwareham

[2021-11-07 20:00] petecooper commented on #353
Not sure why this is still open, is done, will close.

[2021-11-07 20:00] #353 closed

[2021-12-29 16:33] petecooper opened #454 "Hyperlinked `<code>` text is a different colour to normal hyperlinked text, broken underline"
**Describe the bug**
Hyperlinked `<code>` text is a different colour to normal hyperlinked text, and has a broken underline.

**To reproduce**
Steps to reproduce the behaviour:
1. Go to https://textpattern.com/release-notes/textpattern-487-release-notes
2. Note the hyperlink in the article excerpt (para 1)
3. Hover to note the broken underline

**Expected behaviour**
`<code>`-ed text should be the

[2022-01-30 16:01] colak opened #466 "Replace Hicks design in the showcase"
**Describe the bug**

Not a bug but a request in the forum to replace Hicks design in the showcase of the .com site as he no longer uses txp to power his online presence.
https://forum.textpattern.com/viewtopic.php?pid=332543#p332543

**To reproduce**
Steps to reproduce the behaviour:
1. Go to https://hicks.design/journal/archive/2020